.favorite.button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.heart-not-filled {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../public/heart-not-filled.svg'); /* Imagem de coração vazio */
  background-size: contain;
}

.heart-filled{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../public/heart-filled.svg'); /* Imagem de coração preenchido */
  background-size: contain;
}